@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body{
    /*background: #fec107;*/
    padding: 0 10px;

  }

  .errorcolor{
    color: red;
  }

  .wrapper22{
    max-width: 500px;
    width: 100%;
    background: #F5D9DD;
    margin: 20px auto;
    margin-left: 425px;
    box-shadow: 4px 4px 16px 4px rgb(0 0 0 / 13%);
    padding: 30px;
  }

  .wrapper22 .title22{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #361212;
    text-transform: uppercase;
    text-align: center;
  }

  .wrapper22 .form22{
    width: 100%;
  }

  
.wrapper22 .form22 .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .wrapper22 .form22 .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }

  .wrapper22 .form22 .inputfield .input,
.wrapper22 .form22 .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper22 .form22 .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }

  .wrapper22 .form22 .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }

  .wrapper22 .form22 .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }

  .wrapper22 .form22 .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }

  
.wrapper22 .form22 .inputfield .input:focus,
.wrapper22 .form22 .inputfield .textarea:focus,
.wrapper22 .form22 .inputfield .custom_select select:focus{
  border: 1px solid #000000;
}

.wrapper22 .form22 .inputfield p{
    font-size: 14px;
    color: #757575;
 }


 @media (max-width:420px) {
    .wrapper22 .form22 .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper22 .form22 .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper22 .form22 .inputfield.terms{
      flex-direction: row;
    }
  }

  .btn33{
    margin-top: 1rem;
    margin-left: -100rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 0.7rem;
    border-radius: 12rem;
    border:.2rem solid black;
    color:rgb(208, 19, 154);
    cursor: pointer;
    background: none;
}
.btn34{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 0.7rem;
    
    color:rgba(240, 231, 231, 0.872);
    cursor: pointer;
    background-color: red;
}


.btn34:hover{
    background: rgb(186, 35, 35);
    color:#fff;
}

.toprow{
  width: 100%;
  height: 200px;
}
.DonorProfileArea{
  width: 100%;
  height: 100vh;
  padding: 100px 10% 20px 10%;
  font-family: 'Poppins', sans-serif;
}

.top{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.left{
  height: 200px;
  padding: 10px;
  display: flex;
}

.nameNdate{
  margin: 15px;
  text-align: left;
}

.right{
  height: 200px;
  padding: 10px;
}

.right button{
  margin: 20px;
  border: none;
  color: white;
  border-radius: 5px;
}

.editprofile{
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: rgb(6, 103, 176);
}

.editprofile:hover{
  background-color: rgb(4, 77, 132);
}

.dltprofile{
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: rgb(176, 6, 6);
}

.dltprofile:hover{
  background-color: rgb(144, 3, 3);
}

.profileimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(159, 159, 159);
}

.myCourse{
  width: 100%;
  height: 300px;
}

.myCourse h3{
  text-align: left;
  margin: 20px;
  font-weight: 600;
}

.myCourse h3 span{
  font-size: 35px;
  color: #256D85;
}

.toprow{
  width: 100%;
  height: 200px;
  position:relative
}
.bottomrow{
  width: 100%;
  height: 100%;
  
}
.item{
  margin: 10px;
}
.donatebldbtn{
  width: auto;
  height: 50px;
  padding: 10px 20px;
  background-color: red;
  color: white;

}

.srch{
  width: 173px !important;
  height: 40px !important;
  border-radius: 5px !important;
  margin: 0!important;
}



.srchbtn{
  background-color: rgb(255, 0, 106);
  height: 40px !important;
  color: white;
  border: none;
}
.item{
  padding: 0!important;
}

.proimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(236, 188, 202);
}

.rightdiv {
position: relative;
left: 20%;

}


