.DonorProfileArea{
    width: 100%;
    height: 100vh;
    padding: 100px 10% 20px 10%;
    font-family: 'Poppins', sans-serif;
}

.top{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.left{
    height: 200px;
    padding: 10px;
    display: flex;
}

.nameNdate{
    margin: 15px;
    text-align: left;
}

.right{
    height: 200px;
    padding: 10px;
}

.right button{
    margin: 20px;
    border: none;
    color: white;
    border-radius: 5px;
}

.editprofile{
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: rgb(6, 103, 176);
}

.editprofile:hover{
    background-color: rgb(4, 77, 132);
}

.dltprofile{
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: rgb(176, 6, 6);
}

.dltprofile:hover{
    background-color: rgb(144, 3, 3);
}

.profileimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(159, 159, 159);
}

.myCourse{
    width: 100%;
    height: 300px;
}

.myCourse h3{
    text-align: left;
    margin: 20px;
    font-weight: 600;
}

.myCourse h3 span{
    font-size: 35px;
    color: #256D85;
}

.toprow{
    width: 100%;
    height: 200px;
}
.bottomrow{
    width: 100%;
    height: 100%;
    
}
.item{
    margin: 10px;
}
.donatebldbtn{
    width: auto;
    height: 50px;
    padding: 10px 20px;
    background-color: red;
    color: white;

}

.srch{
    width: 173px !important;
    height: 40px !important;
    border-radius: 5px !important;
    margin: 0!important;
}



.srchbtn{
    background-color: rgb(255, 0, 106);
    height: 40px !important;
    color: white;
    border: none;
}
.item{
    padding: 0!important;
}

.proimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(236, 188, 202);
}

.rightdiv button{
    margin: 10px;
}

