.nova{
margin-right: 10px;
}

.container22 {
    position: absolute;
    right: 159px;
    width: 75vw;
    height: 66vh;
    background: #f1f1f1;
}

.row22{
    margin-right: 11px;
    margin-left: 23px;
}

.btn233{
    margin-top: 46px;
    margin-left: 46px;
}