/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.admindashboard{
    /* ===== Colors ===== */
    --primary-color: #FF5C5C;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #FF2E2E;
    --box2-color: #DC143C;
    --box3-color: #D9381E;
    --box4-color: #FF2400;
    --box5-color: #D10000;
    --box6-color: #FF0000;
    --box7-color: #DA012D;
    --box8-color: #A30000;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 8px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}

/* start logo image and logo name*/
nav .ad-logo-name{
    display: flex;
    align-items: center;
}
nav .ad-logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .ad-logo-image img{
    width: 40px;
    object-fit: cover;
}

nav .ad-logo-name .ad-logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .ad-logo-name{
    opacity: 0;
    pointer-events: none;
}
/* end logo image and logo name*/

/* start menu items */
nav .ad-menu-items{
    margin-top: 30px;
    height: calc(100% - 90px);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ad-menu-items li{
    list-style: none;
}
.ad-menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.ad-nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.ad-menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.ad-menu-items li a .ad-link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .ad-link-name{
    opacity: 0;
    pointer-events: none;
}
.ad-nav-links li a:hover i,
.ad-nav-links li a:hover .ad-link-name{
    color: var(--primary-color);
}
body.dark .ad-nav-links li a:hover i,
body.dark .ad-nav-links li a:hover .ad-link-name{
    color: var(--text-color);
}
.ad-menu-items .ad-logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.ad-menu-items .ad-mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.ad-menu-items .ad-mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ad-mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}
/* end menu items */

.ad-dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 235px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .ad-dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

/* start search and profile */
.ad-dashboard .ad-top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .ad-dashboard .ad-top{
    left: 73px;
    width: calc(100% - 73px);
}
.ad-dashboard .ad-top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.ad-dashboard .ad-top .ad-search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.ad-top .ad-search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.ad-top .ad-search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.ad-search-box-button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ad-search-box-button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .ad-search-box-button {
    padding: 1rem 2rem;
  }
}
.ad-top img{
    width: 40px;
    border-radius: 50%;
}

/* end search and profile */

.ad-dashboard .ad-dash-content{
    padding-top: 10px;
}
.ad-dash-content .ad-title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.ad-dash-content .ad-title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.ad-dash-content .ad-title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.ad-dash-content .ad-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.ad-dash-content .ad-boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 4 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ad-boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.ad-boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.ad-boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.ad-boxes .box.box2{
    background-color: var(--box2-color);
}
.ad-boxes .box.box3{
    background-color: var(--box3-color);
}
.ad-boxes .box.box4{
    background-color: var(--box4-color);
}
.ad-boxes .box.box5{
    background-color: var(--box5-color);
}
.ad-boxes .box.box6{
    background-color: var(--box6-color);
}
.ad-boxes .box.box7{
    background-color: var(--box7-color);
}
.ad-boxes .box.box8{
    background-color: var(--box8-color);
}

/* Table CSS Style */

.activity-data {
    overflow-y: auto;
    max-height: 300px;
}

.activity-data thead {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
}


.activity-data tbody {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

/* Button Reject CSS Style */

.activity-data .button-reject {
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .activity-data .button-reject:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .activity-data .button-reject:active {
    transform: scale(0.95);
  }



  /* Button Accept CSS Style */

  .activity-data .button-accept {
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #00FF00;
    background-image: linear-gradient(45deg, #00D100 0%, #00FF00  51%, #00D100  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .activity-data .button-accept:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .activity-data .button-accept:active {
    transform: scale(0.95);
  }





@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}